{% extends "base/base.html" %} {% block start %}

<section class="section-content padding-y">
  <div class="container">
    <div class="row">
      <main class="col-md-9 cart-card">
        <div class="card">
          <table class="table table-borderless table-shopping-cart">
            <thead class="text-muted">
              <tr class="small text-uppercase">
                <th scope="col">Product</th>
                <th scope="col" width="120">Quantity</th>
                <th scope="col" width="120">Price</th>
                <th scope="col" class="text-right" width="200"></th>
              </tr>
            </thead>
            <tbody>
              {% for cart_item in cart_items %}
              <tr>
                <td>
                  <figure class="itemside">
                    <div class="aside">
                      <img
                        src="/media/{{cart_item.product.product_images.first.image}}"
                        class="img-sm"
                      />
                    </div>
                    <figcaption class="info">
                      <a
                        href="{% url 'get_product' cart_item.product.slug %}"
                        class="title text-dark"
                        >{{ cart_item.product.product_name }}</a
                      >
                      <p class="text-muted small">
                        Size: {{cart_item.size_variant |default_if_none:"" }},
                        Color: {{cart_item.color_variant |default_if_none:"" }},
                        <br />
                        Brand: Gucci
                      </p>
                    </figcaption>
                  </figure>
                </td>
                <td>
                  <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>
                </td>
                <td>
                  <div class="price-wrap">
                    <var class="price">{{cart_item.get_product_price }}</var>
                    <small class="text-muted">
                      {{cart_item.product.price }} each
                    </small>
                  </div>
                  <!-- price-wrap .// -->
                </td>
                <td class="text-right">
                  <a
                    data-original-title="Save to Wishlist"
                    title=""
                    href=""
                    class="btn btn-light"
                    data-toggle="tooltip"
                  >
                    <i class="fa fa-heart"></i
                  ></a>
                  <a
                    href="{% url 'remove_from_cart' cart_item.uid %}"
                    class="btn btn-light"
                  >
                    Remove</a
                  >
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          <div class="card-body border-top">
            <a href="{% url 'index' %}" class="btn btn-light">
              <i class="fa fa-chevron-left"></i> Continue shopping
            </a>
          </div>
        </div>
        <!-- card.// -->

        <div class="alert alert-success mt-3">
          <p class="icontext">
            <i class="icon text-success fa fa-truck"></i> Free Delivery within
            1-2 weeks
          </p>
        </div>
      </main>

      <main class="col-md-9 checkout-card" style="display: none">
        <div class="card">
          <div class="checkout">
            <h2>Checkout</h2>
            <button
              type="button"
              class="btn btn-primary"
              data-toggle="modal"
              data-target="#addAddressModal"
            >
              Add New Address
            </button>

            {% include "accounts/address_form.html" %}
          </div>
        </div>
      </main>
      <!-- col.// -->
      <aside class="col-md-3">
        <div class="card mb-3">
          <div class="card-body">
            <form>
              <div class="form-group">
                <label>Have coupon?</label>
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    name=""
                    placeholder="Coupon code"
                  />
                  <span class="input-group-append">
                    <button class="btn btn-primary">Apply</button>
                  </span>
                </div>
              </div>
            </form>
          </div>
          <!-- card-body.// -->
        </div>
        <!-- card .// -->
        <div class="card">
          <div class="card-body">
            <dl class="dlist-align">
              <dt>Total price:</dt>
              <dd class="text-right">USD 568</dd>
            </dl>
            <dl class="dlist-align">
              <dt>Discount:</dt>
              <dd class="text-right">USD 658</dd>
            </dl>
            <dl class="dlist-align">
              <dt>Total:</dt>
              <dd class="text-right h5"><strong>$1,650</strong></dd>
            </dl>
            <hr />
            <p class="text-center mb-3">
              <img src="images/misc/payments.png" height="26" />
            </p>
            <a href="#" id="make-purchase" class="btn btn-primary">
              Make Purchase <i class="fa fa-chevron-right"></i>
            </a>
          </div>
          <!-- card-body.// -->
        </div>

        <!-- card .// -->
      </aside>
      <!-- col.// -->
    </div>
  </div>
  <!-- container .//  -->
</section>

<script>
      {% comment %} onclick of make-purchase btn hide table-shopping-cart and show checkout div {% endcomment %}
  $(document).ready(function() {
        // Add a click event handler to the "make-purchase" button
        $('#make-purchase').click(function() {
            // Hide the shopping cart table
            $('.cart-card').hide();

            // Show the checkout div
            $('.checkout-card').show();
        });

    $('.add-address-form').on('submit', function(event) {
      event.preventDefault();

      $.ajax({
          type: 'POST',
          url: '{% url 'add_address' %}',  // Replace with the URL of your Django view
          data: $(this).serialize(),
          success: function(response) {
              if (response.success) {
                  // Handle success, e.g., close the modal and update the UI
                  $('#addAddressModal').modal('hide');
                  // You may want to update the UI to display the newly added address.
              } else {
                  // Handle errors if needed
                  alert('Error while saving the address');
              }
          }
      });
    });
  });
</script>
{% endblock %}
